<div class="login-block">
    <h1>Upload File</h1>
    <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Example file input</label>
          <input type="file" class="form-control-file" (change)="handleFileInput($event.target.files)" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-primary" (click)="upload()">Upload</button>
        <p>User Name: {{userinfo.name}}</p>
        <p>User Email: {{userinfo.email}}</p>
    </form>
</div>